<div >
    <div class="seeker">
        <div class="but">
            
            <div>
                <button type="button" class="btn btn-outline-secondary b1">Fecha
                    <i class="fa-solid fa-arrow-up"></i>
                    <i class="fa-solid fa-arrow-up fa-rotate-180"></i>
                </button>
            </div>
            <div>
                <button type="button" class="btn btn-outline-secondary b1">Parcela Az</button>
            </div>
            <div>
                <button type="button" class="btn btn-outline-secondary b1">Cant Observada
                    <i class="fa-solid fa-arrow-up"></i>
                    <i class="fa-solid fa-arrow-up fa-rotate-180"></i>
                </button>
            </div>
            
        </div>
        <div class="barraBusqueda">
            <input type="text" class="form-control rounded-0" placeholder="Buscador" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="b1">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </div>
    <div>
        <div class="statistics">

        </div>
        <div class="date">
            <h2></h2>
        </div>
    </div>
    
</div>