<div class="banner">
    <div class="logotipo">
      <div class="icono">
         <!--<i class="fa-solid fa-gear fa-spin-pulse fa-2xl" style="color: #7c0404;"></i>  -->
         <img class="logo" src="../../../assets/logo_gpa.png" alt="img"> 
      </div>
    </div>
    <div class="container opciones">
      <div class="Op1">
        <a class="navbar-brand" routerLink="/"><h2>INICIO</h2></a>
      </div>
      <div class="Op1">
        <a class="navbar-brand" routerLink="/"><h2>MAQUINAS</h2></a>
      </div>
      <div class="Op1">
        <a class="navbar-brand" routerLink="/"><h2>ESTADISTICAS</h2></a>
      </div>
      <div class="Op1">
        <a class="navbar-brand" routerLink="/"><h2>PARCELA</h2></a>
      </div>
      <div class="Op1">
        <a class="navbar-brand" routerLink="/"><h2>RANCHO</h2></a>
      </div>
      <div class="Op1">
        <a class="navbar-brand" routerLink="/"><h2>EMPLEADOS</h2></a>
      </div>
    </div>
    <div class="usuario">
      <i class="fa-regular fa-user fa-2xl" style="color: #000000;"></i>
    </div>
</div>