<div>
    <div class="disposicion">
        <div class="for">
            <div class="op1">
                <div class="tex1">
                    Rancho
                    <i class="fa-solid fa-hat-cowboy" style="color: #000;"></i>
                </div>
                <div class="tex2">
                    {{Datos["datos"]["rancho"]}}
                </div>
            </div>
            <div class="op1 op2">
                <div class="tex1">
                    Parcela
                    <i class="fa-solid fa-wheat-awn" style="color: #000;"></i>
                </div>
                <div class="tex2">
                    {{Datos["datos"]["parcela"]}}
                </div>
            </div>
        </div>
        <div class="for">
            <div class="op1">
                <div class="tex1">
                    Fecha de Inicio
                    <i class="fa-solid fa-calendar-days"></i>
                </div>
                <div class="tex2">
                    {{Datos["datos"]["fechaI"]}}
                </div>
            </div>
            <div class="op1 op2">
                <div class="tex1">
                    Fecha final
                    <i class="fa-solid fa-calendar-days"></i>
                </div>
                <div class="tex2">
                    {{Datos["datos"]["fechaF"]}}
                </div>
            </div>
        </div>
        <div class="datos">
            <div class="tex1">
                Datos
            </div>
           <div class="d1">
                <div class="col z">
                    <div>dato1</div>
                    <div>dato1</div>
                   
                </div>
                <div class="col">
                    <div>dato1</div>
                    <div>dato1</div>
                   
                </div>
                <div class="col">
                    <div>dato1</div>
                    <div>dato1</div>
                   
                </div>
           </div>
        </div>
        <div class="formato">
            <div class="tex1">
                Cant. Observada
            </div>
            <div class="tex3">
                {{Datos["cantidad"]["cantidadObs"]}}
            </div>
        </div>
        <div class="for">
            <div class="op1">
                <div class="tex1">
                    Dentro del rango

                </div>
                <div class="tex2">
                    {{Datos["cantidad"]["cantidadEnRango"]}}
                </div>
            </div>
            <div class="op1 op2">
                <div class="tex1">
                    Fuera de rango
                </div>
                <div class="tex2">
                    {{Datos["cantidad"]["cantidadFueraRango"]}}
                </div>
            </div>
        </div>
    </div>
    <div class="disposicion">
        <div class="barras">
            <canvas id="myChart"></canvas>
        </div>
        <div class="circulo">
            <canvas id="myCircle"></canvas>
        </div>
    </div>
</div>